body {
    font-family: sans-serif;
}
header {background-color: rgb(238, 16, 16);}
h1 {color:mediumorchid}
footer{color:rgb(234, 0, 255) }
footer p {background-color: rgb(255, 0, 0);}
nav {background-color: rgb(0, 0, 0);}
.J {background-color: rgb(0, 0, 0);}
.J{background-position:rgb(195, 0, 255) ;}
.J{border-bottom-right-radius: 0cqh;}
blockquote,blockquote
.J{border-bottom: 0cap;}
Footer{background-color: rgb(208, 255, 0);}
Footer{background-color: rgb(0, 38, 255);}
footer{background-color: rgb(55, 235,h1>
nav {background-color: rgb(0, 0, 0);}

